.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6); /* transparent with opacity */
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar-logo{
  margin-left: 20px;
  height: 48px;
  width: auto;
  object-fit: contain;
}