<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
<div class="login-container">
    <h1 th:text="'Welcome, ' + ${user.firstName}"></h1>
    <h3 th:text="'Your Role, ' + ${user.role}"></h3>

    <ul class="no-bullets">
        <li th:if="${#authorization.expression('hasRole(''AGENT'')')}">
        <li><h2>Agent Dashboard</h2></li>
            <li><a th:href="@{/profile}">My Profile</a></li>
            <li><a >Manage Listings</a></li>
            <li><a >Add New Property</a></li>
            <li><a >View Messages</a></li>
        </li>
    </ul>
    <ul>
        <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <li><h2>Admin Dashboard</h2></li>
            <li><a th:href="@{/profile}">My Profile</a></li>
            <li><a>Manage Users</a></li>
            <li><a>Create Agent</a></li>
        </li>
    </ul>
    <ul>
        <li th:if="${#authorization.expression('hasRole(''BUYER'')')}">
          <li>  <h2>Buyer Dashboard</h2> </li>
           <li> <a th:href="@{/profile}">My Profile</a><li>
            <li><a>Browse Properties</a></li>
            <li><a>Saved Favorites</a></li>
            <li><a >View Messages</a></li>
        </li>
    </ul>

        <li><a class="section-spacing" th:href="@{/logout}">Log Out</a></li>
    </ul>
</div>
</body>
</html>
