<!DOCTYPE html>
<html xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/landing.css}">
</head>
<body>

<div class="background-image">
    <img th:src="@{/images/bg2.jpg}" alt="Modern Home" />
</div>
<div class="page-wrapper">
<div class="container">
    <h1 th:text="'Welcome, ' + ${user.firstName}"></h1>
    <h3 th:text="'Your Role, ' + ${user.role}"></h3>
    <div th:if="${#authorization.expression('hasRole(''AGENT'')')}">
        <h2>Agent Dashboard</h2>
        <ul class="no-bullets">
            <li><a th:href="@{/profile}">My Profile</a></li>
            <li><a href="#">Manage Listings</a></li>
            <li><a href="#">Add New Property</a></li>
            <li><a href="#">View Messages</a></li>
        </ul>
    </div>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <h2>Admin Dashboard</h2>
        <ul class="no-bullets">
            <li><a th:href="@{/profile}">My Profile</a></li>
            <li><a href="#">Manage Users</a></li>
            <li><a href="#">Create Agent</a></li>
        </ul>
    </div>
    <div th:if="${#authorization.expression('hasRole(''BUYER'')')}">
        <h2>Buyer Dashboard</h2>
        <ul class="no-bullets">
            <li><a th:href="@{/profile}">My Profile</a></li>
            <li><a href="#">Browse Properties</a></li>
            <li><a href="#">Saved Favorites</a></li>
            <li><a href="#">View Messages</a></li>
        </ul>
    </div>
    <div class="section-spacing">
        <a class="section-spacing" th:href="@{/logout}">Log Out</a>
    </div>
</div>
</div>
</body>
</html>
