<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" th:href="@{/css/landing.css}">
</head>
<body>
<div class="background-image">
    <img th:src="@{/images/bg2.jpg}" alt="Modern Home" />
</div>
<div class="page-wrapper">
<div class="container">

    <table class="profile-table">
        <tr>
            <td><strong>First Name:</strong></td>
            <td th:text="${user.firstName}">Mason</td>
        </tr>
        <tr>
            <td><strong>Last Name:</strong></td>
            <td th:text="${user.lastName}">Lee</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td th:text="${user.email}">mason.lee@email.com</td>
        </tr>
        <tr>
            <td><strong>Roles:</strong></td>
            <td th:text="${user.role}">
                     ROLE_USER

            </td>
        </tr>
    </table>
    <a th:href="@{/edit}">Editprofile</a>
    <a th:href="@{/dashboard}">Backtodashboard</a>
</div>
</div>
</body>
</html>
