<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/login.css}"/>
  <link rel="stylesheet" th:href="@{/css/landing.css}">
</head>
<body>
<div class="background-image">
  <img th:src="@{/images/bg2.jpg}" alt="Modern Home" />
</div>
<div class="page-wrapper">
<div class="container">
  <h1>Create Account</h1>
  <div class="error" th:if="${errorMessage}" th:text="${errorMessage}"></div>
  <div class="success" th:if="${successMessage}" th:text="${successMessage}"></div>
  <form method="post" th:action="@{/register}" th:object="${user}" enctype="multipart/form-data">

    <label for="email">Email</label>
    <input id="email" required="" th:field="*{email}" type="text"/>

    <label for="password">Password</label>
    <input id="password" required="" th:field="*{password}" type="password"/>

    <label for="firstName">First Name</label>
    <input id="firstName" required="" th:field="*{firstName}" type="text"/>

    <label for="lastName">Last Name</label>
    <input id="lastName" required="" th:field="*{lastName}" type="text"/>
    <input id="username" type="hidden" th:field="*{username}" />

    <br/><br/>
    <label>Roles</label>
    <div class="checkbox-group">
      <label><input type="checkbox" name="selectedRoles" value="BUYER" /> BUYER</label>
      <label><input type="checkbox" name="selectedRoles" value="AGENT" /> AGENT</label>
      <label><input type="checkbox" name="selectedRoles" value="ADMIN" /> ADMIN</label>
    </div>
    <button class="submit-btn" type="submit">Register</button>
  </form>
  <div class="back-link">
    <a th:href="@{/login}">← Back to Login</a>
  </div>
</div>
</div>
<script>
  function setUsername() {
    const firstName = document.getElementById("firstName").value;
    document.getElementById("username").value = firstName.trim();
  }
</script>
</body>
</html>
